<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout>

<li>Edit app/assets/js/snippet.coffee</li>
<li>Run `mvn compile`</li>
<li>See <a href="http://localhost:8080/wro/snippet.js" target="_blank">http://localhost:8080/wro/snippet.js</a></li>

<hr/>

<div class="row">
  <div class="span6">
    <p>app/assets/js/snippet.coffee</p>
    <pre class="prettyprint linenums coffee"></pre>
   </div>
  <div class="span6">
    <p>wro/snippet.js</p>
    <pre class="prettyprint linenums js"></pre>
  </div>
</div>

</@layout.myLayout>


